/* Style for Restaurant Card component */
.restaurant-card {
  display: flex;
  width: 327px;
  height: 202px;
  padding: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  border: 0.6px solid var(--stroke, rgba(0, 0, 0, 0.10));
  background: var(--white, #FFF);

  /* basic shadow */
  box-shadow: -98px 56px 32px 0 rgba(0, 0, 0, 0.00), -63px 36px 29px 0 rgba(0, 0, 0, 0.00), -35px 20px 24px 0 rgba(0, 0, 0, 0.00), -16px 9px 18px 0 rgba(0, 0, 0, 0.01), -4px 2px 10px 0 rgba(0, 0, 0, 0.01);
}

.lower-text {
  color: var(--black, #000);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "SF Pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
  letter-spacing: -0.5px;
}

.restaurant-name {
  width: 213px;
  color: var(--black, #000);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "SF Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: -0.5px;
}

.restaurant-open {
  display: flex;
  padding: 8px 12px 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 88px;
  border: 0.6px solid var(--stroke, rgba(0, 0, 0, 0.10));
  background: var(--white, #FFF);

  /* basic shadow */
  box-shadow: -98px 56px 32px 0 rgba(0, 0, 0, 0.00), -63px 36px 29px 0 rgba(0, 0, 0, 0.00), -35px 20px 24px 0 rgba(0, 0, 0, 0.00), -16px 9px 18px 0 rgba(0, 0, 0, 0.01), -4px 2px 10px 0 rgba(0, 0, 0, 0.01);
}

