/* [project]/src/app/styles/globals.css [app-client] (css) */
:root {
  background: var(--off-white, #fafafa);
  width: 1440px;
  height: 900px;
  font-family: -apple-system, BlinkMacSystemFont, SF Pro, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, SF Pro, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

.page-layout {
  grid-template-columns: 280px 1fr;
  align-items: start;
  gap: 32px;
  display: grid;
}

.topfilter-results-layout {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  display: grid;
  position: sticky;
}

.results-layout {
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  gap: 17px;
  width: 1015px;
  display: flex;
}

.header {
  width: 273.425px;
  height: 40px;
  fill: var(--black, #000);
}

.topbar-filter-cards {
  gap: 10px;
  display: inline-flex;
  overflow-x: auto;
}

.topbar-filter-card {
  border: .6px solid var(--stroke, #0000001a);
  background: var(--white, #fff);
  border-radius: 8px;
  width: 160px;
  height: 80px;
  box-shadow: -98px 56px 32px #0000, -63px 36px 29px #0000, -35px 20px 24px #0000, -16px 9px 18px #00000003, -4px 2px 10px #00000003;
}

.topbar-filter-label {
  color: var(--black, #000);
  font-feature-settings: "liga" off, "clig" off;
  letter-spacing: -.5px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.topbar-filter-img {
  width: 80px;
  height: 80px;
}

.topbar-filter-card.active {
  color: #fff;
  background: #000;
  border-color: #000;
}

.sidebar-filter-parent {
  border: .6px solid var(--stroke, #0000001a);
  background: var(--white, #fff);
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 239px;
  height: 764px;
  padding: 24px;
  display: flex;
  box-shadow: -98px 56px 32px #0000, -63px 36px 29px #0000, -35px 20px 24px #0000, -16px 9px 18px #00000003, -4px 2px 10px #00000003;
}

.sidebar-filter-title {
  color: var(--black, #000);
  font-feature-settings: "liga" off, "clig" off;
  letter-spacing: -.5px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.sidebar-filter-content {
  flex-direction: column;
  display: flex;
}

.filter-subcategory-title {
  color: var(--black, #000);
  letter-spacing: -.5px;
  text-transform: uppercase;
  opacity: .4;
  font-size: 12px;
  font-style: normal;
  font-weight: 590;
  line-height: 100%;
}

.filter-food-category, .filter-delivery-time, .filter-price-range {
  margin-bottom: 16px;
}

.sidebar-filter-item {
  flex-wrap: wrap;
  gap: 8px;
  display: flex;
}

.filter-pill {
  cursor: pointer;
  background: #fff;
  border: 1px solid #0000001a;
  border-radius: 999px;
  padding: 6px 14px;
  font-size: 12px;
  transition: all .15s;
}

.filter-pill:hover {
  background: #f5f5f5;
}

.filter-pill.active {
  color: #fff;
  background: #000;
  border-color: #000;
}

.filter-results-parent {
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  gap: 17px;
  width: 1015px;
  display: flex;
}

.filter-results-title {
  color: var(--black, #000);
  font-feature-settings: "liga" off, "clig" off;
  letter-spacing: -.5px;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.results-content {
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  gap: 17px;
  width: 1015px;
  display: flex;
}

.restaurant-card {
  border: .6px solid var(--stroke, #0000001a);
  background: var(--white, #fff);
  border-radius: 8px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: flex-start;
  width: 327px;
  height: 202px;
  padding: 16px;
  display: flex;
  box-shadow: -98px 56px 32px #0000, -63px 36px 29px #0000, -35px 20px 24px #0000, -16px 9px 18px #00000003, -4px 2px 10px #00000003;
}

.lower-text {
  color: var(--black, #000);
  font-feature-settings: "liga" off, "clig" off;
  letter-spacing: -.5px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.restaurant-name {
  width: 213px;
  color: var(--black, #000);
  font-feature-settings: "liga" off, "clig" off;
  letter-spacing: -.5px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.restaurant-open {
  border: .6px solid var(--stroke, #0000001a);
  background: var(--white, #fff);
  border-radius: 88px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 8px 12px 8px 10px;
  display: flex;
  box-shadow: -98px 56px 32px #0000, -63px 36px 29px #0000, -35px 20px 24px #0000, -16px 9px 18px #00000003, -4px 2px 10px #00000003;
}

/*# sourceMappingURL=src_app_styles_globals_f3ecd4a1.css.map*/